/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

.body{
	margin: none;
}

.step{
	height: 20px;
	width: 6.25%;
	float: left;
	padding: 15px;
	box-sizing: border-box;
}

.active{
	background-color: #066
}

.param-slider{
	float:left;
	width: 20%;
	margin: 10px 2.5%;
	height: 10px;
	box-sizing: border-box;
}

#param-display{
	width: 90%;
	margin: 20px auto;
}

#sequencer{
	width: 90%;
	margin: 20px auto;
}

.clear-float{
	clear:both;
}

.step-slider{
	width: 75%;
	margin: 10px auto;
}