<div id="mixer">

	<p>kick1</p>
	<div class="mixer-channel" id="kick1"></div>

	<p>kick2</p>
	<div class="mixer-channel" id="kick2"></div>

	<p>snare1</p>
	<div class="mixer-channel" id="snare1"></div>

	<p>snare2</p>
	<div class="mixer-channel" id="snare2"></div>

	<p>hihat1</p>
	<div class="mixer-channel" id="hihat1"></div>

	<p>hihat2</p>
	<div class="mixer-channel" id="hihat2"></div>
</div>