<div id="mixer">

	<div id="channels">

		<div class="channel-container">
			<p>kick1</p>
			<div class="mixer-channel" id="kick1"></div>
			<canvas class="vu-meter" id="kick1-vu" width="600px" height="25px"></canvas>
		</div>

		<div class="channel-container">
			<p>kick2</p>
			<div class="mixer-channel" id="kick2"></div>
			<canvas class="vu-meter" id="kick2-vu" width="600px" height="25px"></canvas>
		</div>

		<div class="channel-container">
			<p>snare1</p>
			<div class="mixer-channel" id="snare1"></div>
			<canvas class="vu-meter" id="snare1-vu" width="600px" height="25px"></canvas>
		</div>

		<div class="channel-container">
			<p>snare2</p>
			<div class="mixer-channel" id="snare2"></div>
			<canvas class="vu-meter" id="snare2-vu" width="600px" height="25px"></canvas>
		</div>

		<div class="channel-container">
			<p>hihat1</p>
			<div class="mixer-channel" id="hihat1"></div>
			<canvas class="vu-meter" id="hihat1-vu" width="600px" height="25px"></canvas>
		</div>

		<div class="channel-container">
			<p>hihat2</p>
			<div class="mixer-channel" id="hihat2"></div>
			<canvas class="vu-meter" id="hihat2-vu" width="600px" height="25px"></canvas>
		</div>

	</div>

</div>