<div id="param-display">
	
	<div class="param-collection" id="collection-0">
		<p class="param-title" id="collection-0-title"></p>
		<div class="param-slider" id='0-0-slider'>
			<p class="param-name" id='0-0-title'></p>
		</div>
		<div class="param-slider" id='0-1-slider'>
			<p class="param-name" id='0-1-title'></p>
		</div>
		<div class="param-slider" id='0-2-slider'>
			<p class="param-name" id='0-2-title'></p>
		</div>
		<div class="param-slider" id='0-3-slider'>
			<p class="param-name" id='0-3-title'></p>
		</div>
	</div>

	<div class="clear-float"></div>

	<div class="param-collection" id="collection-1">
		<p class="param-title" id="collection-1-title"></p>
		<div class="param-slider" id='1-0-slider'>
			<p class="param-name" id='1-0-title'></p>
		</div>
		<div class="param-slider" id='1-1-slider'>
			<p class="param-name" id='1-1-title'></p>
		</div>
		<div class="param-slider" id='1-2-slider'>
			<p class="param-name" id='1-2-title'></p>
		</div>
		<div class="param-slider" id='1-3-slider'>
			<p class="param-name" id='1-3-title'></p>
		</div>
	</div>

<div class="clear-float"></div>

	<div class="param-collection" id="collection-2">
		<p class="param-title" id="collection-2-title"></p>
		<div class="param-slider" id='2-0-slider'>
			<p class="param-name" id='2-0-title'></p>
		</div>
		<div class="param-slider" id='2-1-slider'>
			<p class="param-name" id='2-1-title'></p>
		</div>
		<div class="param-slider" id='2-2-slider'>
			<p class="param-name" id='2-2-title'></p>
		</div>
		<div class="param-slider" id='2-3-slider'>
			<p class="param-name" id='2-3-title'></p>
		</div>
	</div>

	<div class="clear-float"></div>

	<div class="param-collection" id="collection-3">
		<p class="param-title" id="collection-3-title"></p>
		<div class="param-slider" id='3-0-slider'>
			<p class="param-name" id='3-0-title'></p>
		</div>
		<div class="param-slider" id='3-1-slider'>
			<p class="param-name" id='3-1-title'></p>
		</div>
		<div class="param-slider" id='3-2-slider'>
			<p class="param-name" id='3-2-title'></p>
		</div>
		<div class="param-slider" id='3-3-slider'>
			<p class="param-name" id='3-3-title'></p>
		</div>
	</div>



</div>
